
<div class="row m-0 justify-content-center">
  <h2>Estatísticas do Sistema</h2>
  <div class="col-10 col-md text-center">
	<p-card>
	  <div class="d-flex justify-content-center">
		<i class="pi pi-user mx-2" style="font-size: 3rem"></i>
		<h2>{{ pacientsNumber }}</h2>
	  </div>

	  <ng-template pTemplate="footer">
		<h3>Pacientes</h3>
	  </ng-template>
	</p-card>
  </div>

  <div class="col-10 col-md mx-2 text-center">
	<p-card>
	  <div class="d-flex justify-content-center">
		<i class="pi pi-file mx-2" style="font-size: 3rem"></i>
		<h2>{{ appointmentsNumber }}</h2>
	  </div>

	  <ng-template pTemplate="footer">
		<h3>Consultas</h3>
	  </ng-template>
	</p-card>
  </div>

  <div class="col-10 col-md mx-2 text-center">
	<p-card>
	  <div class="d-flex justify-content-center">
		<i class="pi pi-user mx-2" style="font-size: 3rem"></i>
		<h2>{{ pacientsNumber }}</h2>
	  </div>

	  <ng-template pTemplate="footer">
		<h3>Exames</h3>
	  </ng-template>
	</p-card>
  </div>
</div>

