p-card:hover {
    cursor: pointer;
}

:host ::ng-deep .p-card-header {
    text-align: center;
    border-radius: 5px 5px 0 0;
}

img {
    border: 0 solid black;
    border-radius: 50%;
    height: 150px;
    width: auto;
    margin: 0.2rem 0;
}

:host ::ng-deep .cardContent {
    height: 13rem;
}

:host ::ng-deep .p-card-content {
    padding: 0;
}

@media (max-width: 768px) {
    :host ::ng-deep .cardContent{
        height: auto;
    }
}

@media (max-width: 992px) {
    img {
        height: 100px;
    }
}