<div class="row m-0 align-items-center loginComponent">
  <div class="col-12 col-lg-7 text-center p-0">
    <img src="{{ urls['login2'] }}" class="img-fluid"
         alt="Doutor com um tablet na mão olhando o sistema de prontuários."/>
  </div>
  

  <div class="col-12 col-lg-4">
    <form (ngSubmit)="onLogin()" #loginForm="ngForm">
      <!--email input-->
      <div class="mb-3">
        <label
          for="email"
          class="form-label">
          Email
        </label>
        <input
          type="email"
          class="form-control"
          id="email"
          aria-describedby="emailHelp"
          name="email"
          ngModel
          required
          >
      </div>
      <!--password input-->
      <div class="mb-3">
        <label
          for="password"
          class="form-label">
          Senha
        </label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          ngModel
          required
          >
      </div>
      <div class="d-flex">
        <button
          type="submit"
          class="btn btn-primary flex-grow-1"
          [disabled]="!loginForm.valid">
          Entrar
        </button>
      </div>
    </form>
    <hr>
    <div class="row text-center">
      <p>Não possui uma conta?</p>
      <div>
        <app-new-user></app-new-user>
      </div>
    </div>
  </div>
</div>