<div class="row m-0 align-items-center loginComponent">
  <div class="col-12 col-lg-7">
    <img src="{{ urls['login'] }}" class="img-fluid"/>
  </div>
  

  <div class="col-12 col-lg-4">
    <form>
      <!--email input-->
      <div class="mb-3">
        <label
          for="email"
          class="form-label">
          Email
        </label>
        <input
          type="email"
          class="form-control"
          id="email"
          aria-describedby="emailHelp"
          name="email"
          [(ngModel)]="email">
      </div>
      <!--password input-->
      <div class="mb-3">
        <label
          for="password"
          class="form-label">
          Senha
        </label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          [(ngModel)]="password"
          >
      </div>
      <div class="d-flex">
        <button
          type="submit"
          class="btn btn-primary flex-grow-1">
          Entrar
        </button>
      </div>
    </form>
    <hr>
    <div class="row text-center">
      <p>Não possui uma conta?</p>
      <div>
        <app-new-user></app-new-user>
      </div>
    </div>
  </div>
</div>