.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-container {
    flex-grow: 1;
    display: flex;
    height: 100%;
    margin-top: 6rem;
}

.lateral-menu {
   display: none;
}

.content-container.open .lateral-menu {
    display: initial;
    position: fixed;
    height: calc(100vh - 6rem);
    width: 300px;
    background-color: #3a4b5c;
    color: white;
}

.content-container.open .main-content {
    margin-left: 300px;
}

.main-content {
    width: 100%;
}

@media (max-width:576px) {
    .content-container.open .lateral-menu {
        width: 100vw;
    }

    .main-content.hide {
        display: none;
    }
}

