.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-container {
    flex-grow: 1;
    display: flex;
    height: 100%;
}

.lateral-menu {
   display: none;
}

.lateral-menu.open {
    display: initial;
    width: 300px;
    background-color: #1f879d;
    color: white;
}

.main-content {
    width: 100%;
}

@media (max-width:576px) {
    .lateral-menu.open {
        width: 100vw;
    }

    .main-content.hide {
        display: none;
    }
}

