<div class="d-flex flex-column">
  <h3>Geral</h3>
  <a class="btn btn-primary" routerLink="/home/statistics">Início</a>
  <button class="btn btn-primary" (click)="onLogOut()">Sair</button>
</div>
<div class="d-flex flex-column">
  <h3>Pacientes</h3>
  <a class="btn btn-primary" routerLink="/home/pacientRegistration">Cadastrar</a>
  <a class="btn btn-primary" routerLink="/home/recordsListing">Listar Prontuário</a>
</div>
<div class="d-flex flex-column">
  <h3>Exames</h3>
  <a class="btn btn-primary" routerLink="/home/appointmentRegistration">Cadastrar Consulta</a>
  <a class="btn btn-primary" routerLink="/home/examRegistration">Cadastrar Exame</a>
</div>