<div class="d-flex flex-column">
  <h3>Geral</h3>
  <a
    class="btn btn-primary"
    routerLink="/home/statistics"
    (click)="updateHeader('Estatísticas e Informações')">
    Início
  </a>
  <button
    class="btn btn-primary"
    (click)="onLogOut()">
    Sair
  </button>
</div>
<div class="d-flex flex-column">
  <h3>Pacientes</h3>
  <a
    class="btn btn-primary"
    routerLink="/home/pacient-registration"
    (click)="updateHeader('Cadastro de Paciente')">
    Cadastrar
  </a>
  <a
    class="btn btn-primary"
    routerLink="/home/records-listing"
    (click)="updateHeader('Listagem de Prontuários')">
    Listar Prontuário
  </a>
</div>
<div class="d-flex flex-column">
  <h3>Exames</h3>
  <a
    class="btn btn-primary"
    routerLink="/home/appointment-registration"
    (click)="updateHeader('Cadastro de Consulta')">
    Cadastrar Consulta
  </a>
  <a
    class="btn btn-primary"
    routerLink="/home/exam-registration"
    (click)="updateHeader('Cadastro de Exame')">
    Cadastrar Exame
  </a>
</div>