<header class="row m-0">
  <div class="d-flex align-items-center ms-2 col">
    <i
      class="pi pi-bars"
      style="font-size: 2rem; cursor: pointer"
      (click)="onSliderClick()"
    ></i>
  </div>

  <h1 class="text-center my-auto fs-3">{{ pageHeader }}</h1>

  <div class="d-flex align-items-center justify-content-end">
    <div>
      <h2 class="m-2 fs-4  d-none d-xl-inline">{{ currentUser['name'] }}</h2>
      <button
        class="btn"
        data-bs-toggle="dropdown"
        aria-expanded="false">
        <img
          class="mx-2"
          src="{{ userAvatar }}"
          alt="User Avatar">
      </button>

      <ul class="dropdown-menu">
        <li>
          <button class="dropdown-item" (click)="onLogOut()">LogOut</button>
        </li>
        <li>
          <button class="dropdown-item" (click)="onEditProfile()">Editar Perfil</button>
        </li>
      </ul>
    </div>

    <div class="d-flex align-items-center justify-content-end">
      <app-dark-mode-toggle></app-dark-mode-toggle>
    </div>
  </div>
</header>

