<header>
  <div class="d-flex align-items-center ms-3 ms-md-4">
    <i
      class="pi pi-bars"
      style="font-size: 2rem; cursor: pointer"
      (click)="onSliderClick()"
    ></i>
  </div>

  <h1 class="flex-grow-1 align-self-start ms-3 ms-md-5 my-auto pageHeader">{{ pageHeader }}</h1>

  <div class="d-flex align-items-center justify-content-end me-0 me-md-4">
    <div class="d-flex align-items-center">
      <h2 class="m-2 fs-4 d-none d-md-inline">{{ currentUser['name'] }}</h2>
      <button
        class="btn"
        data-bs-toggle="dropdown"
        aria-expanded="false">
        <img
          class="mx-2"
          src="{{ userAvatar }}"
          alt="User Avatar">
      </button>

      <ul class="dropdown-menu">
        <li>
          <button class="dropdown-item" (click)="onLogOut()">LogOut</button>
        </li>
        <li>
          <button class="dropdown-item" (click)="onEditProfile()">Editar Perfil</button>
        </li>
      </ul>
    </div>
  </div>
</header>

