header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 6rem;
    background-color: #1f879d;
    color: white;
}

body.dark-mode > header {
    background-color: black;
}

.btn.show, btn.active, btn-check {
    border-color: transparent;
}

.btn:focus {
    border-color: transparent
}

img {
    height: 80px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
}

.img:hover {
    background-color: slategrey;
    filter: grayscale(80%);
}

.dropdown {
    border: solid 1px black;
    border-radius: 10px;
}

.dropdown-menu {
    text-shadow: none;
}
