header {
    display: flex;
    position: fixed;
    width: 100vw;
    z-index: 1000;
    height: 6rem;
    align-items: center;
    justify-content: space-between;
}

.btn:focus {
    border-color: transparent
}

.pageHeader {
    font-size: 1.5rem;
}

img {
    height: 80px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    transition: all 1s;
}

img:hover {
    background-color: slategrey;
    filter: grayscale(80%);
    transition: all 1s;
}

@media (max-width: 576px) {
    .pageHeader {
        font-size: 1.25rem;
    }
}