 html, body { height: 100%; }

 body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
 }

/*Estilização de cores*/
 body.dark-mode {
    background-color: #2d3436;
    color: #dfe6e9;
 }

 body.light-mode {
    background-color: white;
    color: #2d3436;
 }
 /*-----------------------------------------------------------*/
 /*Menus*/

 body.light-mode header, body.light-mode .lateral-menu.open {
     background-color: #3a4b5c;
     color: white;
 }

 body.dark-mode header, body.dark-mode .lateral-menu.open {
    background-color: black;
 }

 body.dark-mode .lateralMenu .btn {
     --bs-btn-bg: slategrey;
 }

 /*-----------------------------------------------------------*/
 /*Cards*/

 /*Light mode*/

 .p-card {
     text-align: center;
 }

 body.light-mode .p-card {
     background-color: #E5E5E7;
 }

 body.light-mode .p-card-header {
     background-color: #3a4b5c;
 }

 body.light-mode .p-card-header img {
     background-color: #E5E5E7;
 }

 /*dark mode*/

 body.dark-mode .p-card {
     background-color: rgba(255, 255, 255, 0.7);
     color: rgb(52, 57, 68);
 }

 body.dark-mode .p-card-header {
     background-color: black;
 }

 body.dark-mode .p-card-header img {
     background-color: rgb(52, 57, 68);
 }
/*-------------------------------------------------------------*/

/*forms*/

 .form-control:focus, .p-inputtext.form-control:focus {
     border-color: #3a4b5c;
     box-shadow: 0 0 0 0.2rem rgba(58, 75, 92, 0.7);
 }

 /*.p-inputtext.form-control {*/
 /*    pointer-events: none;*/
 /*}*/

 .p-inputtext.form-control:hover {
     border-color: #ced4da;
 }

 .p-inputtext.form-control.invalidInput:hover {
     border-color: red;
 }

 .form-control.invalidInput {
     border-color: red;
 }

 .form-control.invalidInput:focus {
     box-shadow: 0 0 0 0.2rem rgb(181, 92, 55);
 }