 /*You can add global styles to this file, and also import other style files */

 html, body { height: 100%; }

 body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
 }

 body.dark-mode {
    background-color: #2d3436;
    color: #dfe6e9;
 }

 body.light-mode {
    background-color: white;
    color: #2d3436;
 }

 body.dark-mode header, body.dark-mode .lateral-menu.open {
    background-color: black;
 }

 body.dark-mode .lateralMenu .btn {
     --bs-btn-bg: slategrey!important;
 }

